body{
  background-color: antiquewhite;
}

.pay-header{
  color: red;
}

.list-element{
  list-style-type: none;
  box-shadow: 0 1px 3px rgba(241, 24, 24, 0.951);
  padding: 10px;
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

