.img {
    margin-bottom: '0';
  }

.overlayButton {
    color: white !important;
}
  
.overlay {
    display: none;
    opacity: 0;
    background-color: #ffffffdd;
    transition: opacity 0.4s;
}
  
.overlay:hover {
    opacity: 1;
}
  
.img:hover .overlay {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    align-items: center; 
    justify-content: center; 
}